/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: PressStart2P;
    src: url("./../assets/fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: ShareTech;
    src: url("./../assets/fonts/ShareTech-Regular.ttf");
}